.Rproj.user
.Rhistory
.RData
.Ruserdata
README.html
/Debug/
/Release/
temp.RData
*.xls
*.xlsx
*.xlsm
*.RData
run_all_20181217
run_all_20181220
run_all_20190109
run_all_20190121
run_mean_20190214
run_mean_20190221
Tiller Persistence - Shortcut.lnk
